
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;600;700&display=swap');

.smooth-scroll {
  scroll-behavior: smooth;
}

* {
  border-style: solid;
}
.z-30 {
  z-index: 30;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.gradient {
  background: -webkit-linear-gradient(272.58deg, #367C93 49.2%, rgba(16, 102, 131, 0.47) 114.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  ;
}

.gradient-button-default {
  background-image: linear-gradient(272.58deg, #367C93 49.2%, rgba(16, 102, 131, 0.47) 114.67%);
  text-transform: uppercase;
  color: #fff;
  padding: 0.75rem 1.5rem;
}

.gradient-button-outline {
  background: -webkit-linear-gradient(272.58deg, #367C93 49.2%, rgba(16, 102, 131, 0.47) 114.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(272.58deg, #367C93 49.2%, rgba(16, 102, 131, 0.47) 114.67%);
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
}

.theme-toggle {
  --size: 1.5rem;
  
  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

.theme-toggle:hover .sun-and-moon .moon,
.theme-toggle:hover .sun-and-moon .sun {
  fill: #9E9E9E;
}

.theme-toggle:hover .sun-and-moon > .sun-beams {
  stroke: #9E9E9E;
  stroke-width: 2px;
}


.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

.sun-and-moon .moon,
.sun-and-moon .sun,
.sun-and-moon .sun-beams {
  transform-origin: center center;
  transition: 0.5s all;
}

.sun-and-moon .moon,
.sun-and-moon .sun {
  fill: #9E9E9E;
}

.sun-and-moon > .sun-beams {
  stroke: #9E9E9E;
  stroke-width: 2px;
}

.dark .sun {
  transform: scale(1.75);
}

.dark .sun-beams {
  opacity: 0;
}

.dark .moon > circle {
  transform: translateX(-7px);
}